{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="{% static 'FAQ/css/FAQstyle.css' %}">
</head>
<body>
<div class="w-100">
    <div class="row container-fluid mx-auto my-0">
        <div class="col col-form-label-lg d-flex align-content-between
                    justify-content-center w-100">
            <div class="row w-75 mx-auto py-3 justify-content-between">
                <div class="wow fadeInDown w-25" data-wow-delay="0.05s">
                    <button type="button" class="bg-white
                                w-100
                                float-start py-2 button-faq"
                            id="button-faq-first" data-toggle="collapse"
                            data-target="#first-part"
                            onclick="IdentificationFAQ()"><i
                            class="float-start fas fa-2x fa-search"
                            style="color: darkgreen;"></i><b>شناسایی</b></button>
                </div>
                <div class="wow fadeInDown w-25" data-wow-delay="0.05s">
                    <button type="button" class="bg-white
                                w-100
                                align-self-center py-2 button-faq"
                            id="button-faq-second" data-toggle="collapse"
                            data-target="#second-part"
                            onclick="ExploreFAQ()"><i class="float-start fas
                                    fa-2x fa-database" style="color:
                                    darkgreen;"></i><b>جست وجو</b></button>
                </div>
                <div class="wow fadeInDown w-25" data-wow-delay="0.05s">
                    <button type="button" class="bg-white
                                w-100
                                float-end py-2 button-faq"
                            id="button-faq-third" data-toggle="collapse"
                            data-target="#third-part" onclick="GrowthFAQ()"><i
                            class="float-start fas fa-2x fa-chart-area"
                            style="color: darkgreen;"></i><b>پشتیبانی</b></button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-0">
        <div class="w-100" id="identify-faq">
            <div class="mx-auto my-auto pb-5 px-2 w-75">
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s" id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#i-a-1"
                            onclick="change_icon_topic('icon-i-1')"><span>مراحل آپلود عکس گیاه چیست؟</span><i class="fas fa-angle-left
                                    fa-2x float-end" id="icon-i-1" style="color:
                                    dimgrey;"
                                                                                              id="icon-i-1"></i>
                    </button>
                    <div id="i-a-1" class="collapse p-4
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3">
                                    <span>ابتدا وارد صفحه شناسایی می شوید.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3">
                                    <span>سپس ،عکس مورد نظر خودتان را آپلود کرده و بر روی دکمه آپلود کلیک کنید و تا شناسایی منتظر بمانید.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3">
                                    <span>بعد از شناسایی گل یا گیاه می توانید جزییات گیاه مورد نظر را با کلیک بر روی دکمه اطلاعات بیشتر ،مشاهده کنید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#i-a-2"
                            onclick="change_icon_topic('icon-i-2')"><span>آیا زوم در حین عکسبرداری در تشخیص بهتر تاثیر دارد؟</span><i id="icon-i-2"
                                                                                              class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;"></i></button>
                    <div id="i-a-2" class="collapse p-4
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>در این سوال باید گفت بله ؛ یعنی زوم و تمرکز دوربین روی یک گل یا گیاه موجب تسهیل تشخیص می شود.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>البته به یاد داشته باشید در هنگام عکس برداری در صورتی که از زوم استفاده کنید نباید زوم به قدری زیاد شود که تمرکز روی تصویر گیاه را از بین ببرد.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#i-a-3"
                            onclick="change_icon_topic('icon-i-3')"><span>الگوریتم تشخیصی چقدر دقیق است؟</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-i-3"></i>
                    </button>
                    <div id="i-a-3" class="collapse p-4
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3">
                                    <span>مدلی که با الگوریتم های یادگیری عمیق و ماشین هوش مصنوعی آموزش دیده شده می تواند با درصد نزدیک به 90 درصد گیاه یا گل مورد نظر شما را به درستی تشخیص دهد.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#i-a-4"
                            onclick="change_icon_topic('icon-i-4')"><span>تشخیص آنلاین گیاه چقدر طول می کشد؟</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-i-4"></i></button>

                    <div id="i-a-4" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>زمان تشخیص و شناسایی براساس مدل آموزش دیده به عوامل زیادی از جمله وضعیت سرعت اینترنت شما و تعداد دفعاتی که گل یا گیاه مورد نظر جست وجو شده بستگی دارد.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>در صورتی که گیاه مورد نظر شما گیاهی باشد که مدل با آن آموزش داده نشده قطعا نمی تواند آنرا تشخیص دهد.</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="collapse w-100" id="explore-faq">
            <div class="mx-auto my-auto pb-5 px-2 w-75">
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#e-a-1"
                            onclick="change_icon_topic('icon-e-1')"><span>جست و جو کردن در مورد گیاهان چه اطلاعاتی را به ما می دهد؟</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-e-1"></i>
                    </button>

                    <div id="e-a-1" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>ابتدا می توان پایه ای ترین اطلاعات درباره گیاه را یافت و سپس امکان مشاهده تمام اطلاعات گیاه شناسی برای متخصصان و عموم افراد وجود دارد.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>اطلاعات کاملا طبقه بندی شده است در نتیجه شما می توانید ویژگی خاص را در دسته بندی مختلف پیدا کنید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#e-a-2"
                            onclick="change_icon_topic('icon-e-2')"><span>چه فیلتر هایی برای سرچ وجود دارد؟</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-e-2"></i></button>

                    <div id="e-a-2" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>برای جست و جو کردن تمام فیلتر های مورد نیاز برای تساهل در کنکاش وجود دارد؛شامل تیره گیاه ،نحوه رشد ،زیستگاه و ...</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>همچنین شما می توانید از فیلتر های رایج استفاده کنید مانند پربازدید ترین ،بیشترین جست و جو ،مفید ترین و ...</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>همچنین شما می توانید از چندین فیلتر بطور همزمان استفاده کنید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#e-a-3"
                            onclick="change_icon_topic('icon-e-3')"><span>آیا براساس نام تیره هم میتوان جست و جو کرد یا خیر؟</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-e-3"></i>
                    </button>

                    <div id="e-a-3" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>بله این امکان برای شما فراهم شده تا براساس نام تیره جست و جو کنید، کافیست جست و جو خودتان را براساس آن فیلتر انتخاب کنید.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>همچنین شما برای جست و جو بهتر درباره تیره گیاهان ، می توانید از مقالات مربوط به تیره های گیاهان بازدید کنید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="collapse w-100" id="growth-faq">
            <div class="mx-auto my-auto pb-5 px-2 w-75">
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-1"
                            onclick="change_icon_topic('icon-g-1')"><span>پشتیبانی شامل چه خدماتی می شود؟</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-g-1"></i>
                    </button>

                    <div id="g-a-1" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>پشتیبانی توسط ما شامل تمام مراحل رشد و پرورش گل و گیاه می شود ، نحوه استفاده از این سرویس را می توانید در بخش راهنما مشاهده کنید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-2"
                            onclick="change_icon_topic('icon-g-2')"><span>از چه راه هایی می توان با پشتیبانی ارتباط برقرار کرد؟</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-g-2"></i></button>

                    <div id="g-a-2" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>راه ارتباطی با پشتیبان و مشاوران آنلاین از طریق اتاق های مجازی درون سایت فراهم می شود.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>همچنین می توانید با پشتیبان آنلاین یا مشاور خود در مورد نحوه برقراری ارتباط سوال بپرسید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-3"
                            onclick="change_icon_topic('icon-g-3')"><span>در چه ساعاتی از روز پشتیبان آنلاین است؟</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-g-3"></i>
                    </button>

                    <div id="g-a-3" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>ساعات استفاده از سرویس پشتیبان آنلاین بسیار پویاست و در طول هفته متغیر است که در همین صفحه مشخص می شود.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>البته شما می توانید از مشاور آنلاین خود ساعاتی را می تواند به شما مشاوره بدهد بپرسید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-4"
                            onclick="change_icon_topic('icon-g-5')"><span>آیا امکان گرفتن یک مشاور خصوصی برای پرورش گیاه وجود دارد؟</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-g-5"></i></button>

                    <div id="g-a-4" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>بله البته ، این امکان برای شما فراهم شده تا بتوانید به طور اختصاصی مشاوره دریافت کنید.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>مشاوران اختصاصی که شما انتخاب می کنید از متخصصان حوزه منابع طبیعی و گیاه شناسی هستند که در طول فرآیند پرورش گیاه ، شما را راهنمایی می کنند.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>شما می توانید برای کسب اطلاعات تکمیلی در مورد نحوه استفاده از سرویس پشتیبان اختصاصی از بخش راهنما استفاده کنید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-5"
                            onclick="change_icon_topic('icon-g-6')"><span>امکان فرستادن عکس و ویدیو برای پشتیبان وجود دارد؟</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-g-6"></i></button>

                    <div id="g-a-5" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>البته ،شما می توانید در تمامی مراحل پرورش گیاه ، از آن عکس و فیلم گرفته و برای پشتیبان ارسال کنید تا به بهبود کیفیت مشاوره کمک کنید.</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>همچنین بهتر است شما هنگام برخورد با آفت های گیاهی ، از آنان با جزییات عکس برداری کنید و برای پشتیبانان ما ارسال کنید تا بهترین نحوه راهنمایی کنند. </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square
                rounded-circle
                back-to-top"><i class="bi bi-arrow-up"></i></a>
    <script src="{% static 'FAQ/js/FAQScript.js' %}"></script>
</div>
</body>
</html>
{% endblock content %}
