{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="{% static 'FAQ/css/FAQstyle.css' %}">
</head>
<body>
<div class="w-100">
    <div class="row container-fluid mx-auto my-0">
        <div class="col col-form-label-lg d-flex align-content-between
                    justify-content-center w-100">
            <div class="row w-75 mx-auto py-3 justify-content-between">
                <div class="wow fadeInDown w-25" data-wow-delay="0.05s">
                    <button type="button" class="bg-white
                                w-100
                                float-start py-2 button-faq"
                            id="button-faq-first" data-toggle="collapse"
                            data-target="#first-part"
                            onclick="IdentificationFAQ()"><i
                            class="float-start fas fa-2x fa-search"
                            style="color: darkgreen;"></i><b>faq-hdr-tit1</b></button>
                </div>
                <div class="wow fadeInDown w-25" data-wow-delay="0.05s">
                    <button type="button" class="bg-white
                                w-100
                                align-self-center py-2 button-faq"
                            id="button-faq-second" data-toggle="collapse"
                            data-target="#second-part"
                            onclick="ExploreFAQ()"><i class="float-start fas
                                    fa-2x fa-database" style="color:
                                    darkgreen;"></i><b>faq-hdr-tit2</b></button>
                </div>
                <div class="wow fadeInDown w-25" data-wow-delay="0.05s">
                    <button type="button" class="bg-white
                                w-100
                                float-end py-2 button-faq"
                            id="button-faq-third" data-toggle="collapse"
                            data-target="#third-part" onclick="GrowthFAQ()"><i
                            class="float-start fas fa-2x fa-chart-area"
                            style="color: darkgreen;"></i><b>faq-hdr-tit3</b></button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-0">
        <div class="w-100" id="identify-faq">
            <div class="mx-auto my-auto pb-5 px-2 w-75">
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s" id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#i-a-1"
                            onclick="change_icon_topic('icon-i-1')"><span>faq-idn-q1</span><i class="fas fa-angle-left
                                    fa-2x float-end" id="icon-i-1" style="color:
                                    dimgrey;"
                                                                                              id="icon-i-1"></i>
                    </button>
                    <div id="i-a-1" class="collapse p-4
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3">
                                    <span>faq-idn-ans1-q1</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3">
                                    <span>faq-idn-ans2-q1</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3">
                                    <span>faq-idn-ans3-q1</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#i-a-2"
                            onclick="change_icon_topic('icon-i-2')"><span>faq-idn-q2</span><i id="icon-i-2"
                                                                                              class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;"></i></button>
                    <div id="i-a-2" class="collapse p-4
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-idn-ans1-q2</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-idn-ans2-q2</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#i-a-3"
                            onclick="change_icon_topic('icon-i-3')"><span>faq-idn-q3</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-i-3"></i>
                    </button>
                    <div id="i-a-3" class="collapse p-4
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3">
                                    <span>faq-idn-ans1-q3</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#i-a-4"
                            onclick="change_icon_topic('icon-i-4')"><span>faq-idn-q4</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-i-4"></i></button>

                    <div id="i-a-4" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-idn-ans1-q4</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-idn-ans2-q4</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="collapse w-100" id="explore-faq">
            <div class="mx-auto my-auto pb-5 px-2 w-75">
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#e-a-1"
                            onclick="change_icon_topic('icon-e-1')"><span>faq-exp-q1</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-e-1"></i>
                    </button>

                    <div id="e-a-1" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-exp-ans1-q1</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-exp-ans2-q1</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#e-a-2"
                            onclick="change_icon_topic('icon-e-2')"><span>faq-exp-q2</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-e-2"></i></button>

                    <div id="e-a-2" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-exp-ans1-q2</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-exp-ans2-q2</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-exp-ans3-q2</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            data-toggle="collapse"
                            data-target="#e-a-3"
                            onclick="change_icon_topic('icon-e-3')"><span>faq-exp-q3</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-e-3"></i>
                    </button>

                    <div id="e-a-3" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-exp-ans1-q3</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-exp-ans2-q3</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="collapse w-100" id="growth-faq">
            <div class="mx-auto my-auto pb-5 px-2 w-75">
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-1"
                            onclick="change_icon_topic('icon-g-1')"><span>faq-sup-q1</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-g-1"></i>
                    </button>

                    <div id="g-a-1" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-sup-ans1-q1</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-2"
                            onclick="change_icon_topic('icon-g-2')"><span>faq-sup-q2</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-g-2"></i></button>

                    <div id="g-a-2" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-sup-ans1-q2</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-sup-ans2-q2</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-3"
                            onclick="change_icon_topic('icon-g-3')"><span>faq-sup-q3</span><i class="fas fa-angle-left
                                    fa-2x float-end" style="color: dimgrey;"
                                                                                              id="icon-g-3"></i>
                    </button>

                    <div id="g-a-3" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-sup-ans1-q3</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-sup-ans2-q3</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-4"
                            onclick="change_icon_topic('icon-g-5')"><span>faq-sup-q4</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-g-5"></i></button>

                    <div id="g-a-4" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-sup-ans1-q4</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-sup-ans2-q4</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-sup-ans3-q4</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="wow fadeInLeft div-topic p-2 my-2" data-wow-delay="0.05s"
                     id="border-topics">
                    <button class="bg-white py-4 w-100
                                text-lg-start border-0 box-topic"
                            id="border-topics" data-toggle="collapse"
                            data-target="#g-a-5"
                            onclick="change_icon_topic('icon-g-6')"><span>faq-sup-q5</span><i class="fas
                                    fa-angle-left fa-2x float-end" style="color:
                                    dimgrey;" id="icon-g-6"></i></button>

                    <div id="g-a-5" class="collapse p-1
                                bg-light-subtle text-primary">
                        <ul>
                            <li>
                                <div class="py-3"><span>faq-sup-ans1-q5</span>
                                </div>
                            </li>
                            <li>
                                <div class="py-3"><span>faq-sup-ans2-q5</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square
                rounded-circle
                back-to-top"><i class="bi bi-arrow-up"></i></a>
    <script src="{% static 'FAQ/js/FAQScript.js' %}"></script>
</div>
</body>
</html>
{% endblock content %}
