{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
<body>
<div class="container-fluid">
            <span class="text-center">
                <p class="text-center">
                    <img src="{% static 'Help/img/Soon.svg' %}" class="h-75">
                    <div class="container-fluid">
                        <span class="text-center">
                            <p class="text-center">
                                <h2>Complete Soon!</h2></p>
                        </span>
                    </div>
                </p>
            </span>
</div>

<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">back-btn</a>
            </button>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content %}