{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Explore Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
     <link href="{% static 'Help/css/topicsStyle.css' %}" rel="stylesheet">

</head>
<body>
<div class="container-fluid my-4">
    <span class="">
            <div class="col container-fluid mx-2">
                <div class="px-1 py-2"
                     style="font-size : 25pt;font-weight:500;font-family:Fantasy;"><span>پیش گفتار</span>
                </div>
                <svg class="my-2" style="" height="3" width="100%">
                        <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
                <div class="left-frame-topic px-3">
                    <p>
                        مرور وب‌سایت‌های گیاهان دارویی می‌تواند یک روش عالی برای یادگیری بیشتر درباره انواع مختلف گیاهان و خواص آن‌ها باشد. پلتفرم ما به کاربران امکان می‌دهد تا اطلاعاتی درباره گیاهان از جمله کاربردها، شرایط رشد و نیازهای نگهداری را دریافت کنند. با مرور این بخش از وب‌سایت ما، می‌توانید گیاهان جدیدی را برای افزودن به باغ خود کشف کنید یا درباره گیاهانی که در منطقه شما در حال رشد هستند، یاد بگیرید.
                    </p>
                </div>
            </div>
    </span>
    <span class="">
        <div class="col container-fluid mx-2">
            <div class="px-1 py-2" style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                <span>توضیحات</span>
            </div>
                <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
            <div class="px-3">
                <ul>
                    <li>
                        <h3>مزایا و موارد استفاده</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                   شناسایی گیاهان مفید و مضر: داشتن اطلاعات گیاه‌شناسی به شما کمک می‌کند تا بین گیاهان مفید و مضر تمایز بیشتری برقرار کنید. به عنوان مثال، داشتن اطلاعات درباره گیاهان سمی و خطرناک به شما این امکان را می‌دهد که از خوردن آن‌ها خودداری کنید و در عین حال از گیاهان دارویی و خواص آن‌ها بهره‌مند شوید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    کشاورزی: داشتن اطلاعات گیاه‌شناسی به کشاورزان کمک می‌کند تا بهتر گیاه‌ها را پرورش دهند. این اطلاعات شامل روش آبیاری، نگهداری و کوددهی است.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    بوم‌شناسی: داشتن اطلاعات گیاه‌شناسی به شما کمک می‌کند تا بیشتر درباره بوم‌شناسی و زیست‌شناسی محیطی یاد بگیرید. شما می‌توانید سعی کنید به کاهش تخریب محیط زیست و حفظ گونه‌های گیاهی در محیط خود بپردازید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    فرهنگ: داشتن اطلاعات گیاه‌شناسی به شما کمک می‌کند تا بیشتر درباره فرهنگ و سنت‌های مردم درباره گیاهان بیاموزید. به عنوان مثال، داشتن اطلاعات درباره گیاهان استفاده شده در پزشکی سنتی و داروخانه می‌تواند به شما در بهره‌برداری از این فواید باستانی و واقعی کمک کند.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    تفریح و سرگرمی: داشتن اطلاعات گیاه‌شناسی می‌تواند به شما فرصتی برای تفریح و سرگرمی فراهم کند. شما ممکن است بخواهید به یک سفر میدانی بروید و گیاهان را در طبیعت ببینید، یا می‌توانید به عنوان یک مترولوژیست اطلاعات مربوط به گیاهان را جمع‌آوری کنید.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>شرایط استفاده</h3>
                        <ol class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    می توانید نام گیاه یا گل مورد نظر خود را جستجو کنید و نتایج مربوط به آن را مشاهده کنید. برای این کار ابتدا وارد قسمت جستجو می شوید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    <span>اکنون دو راه برای پیدا کردن گیاه مورد نظر دارید:</span>
                                    <ol type="I">
                                        <li>
                                            <p class="px-3">
                                                جستجو بر اساس نام گیاه مورد نظر که مستلزم دانستن نام آن است.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                جستجو بر اساس فیلترهای قابل انتخاب و ادغام آنها.
                                            </p>
                                        </li>
                                    </ol>
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    پس از انتخاب روش جستجو و کلیک بر روی دکمه جستجو، نتایج نمایش داده می شود.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    اکنون می توانید روی هر یک از نتایج کلیک کنید و تمام اطلاعات آن را مشاهده کنید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    ما این فرصت را برای شما فراهم کرده ایم تا پربازدیدترین و پرجستجوترین گیاهان توسط کاربران را مشاهده کنید.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>بررسی اجمالی</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    اولین باری که این صفحه بارگذاری می شود، گیاهان پایگاه داده به طور تصادفی انتخاب و نمایش داده می شوند.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    شما می توانید در مورد نتایج جستجو نظر دهید تا در آینده بتوانیم یک فیلتر بر اساس نظرات کاربران اضافه کنیم.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </span>
</div>

<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">بازگشت</a>
            </button>
        </div>
    </div>
</div>
</body>
    <script src="{% static 'Help/js/topicsScripts.js' %}"></script>
</html>
{% endblock content %}