{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Explore Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
     <link href="{% static 'Help/css/topicsStyle.css' %}" rel="stylesheet">

</head>
<body>
<div class="container-fluid my-4">
    <span class="">
            <div class="col container-fluid mx-2">
                <div class="px-1 py-2"
                     style="font-size : 25pt;font-weight:500;font-family:Fantasy;"><span>hlp-tcp-exp-int-tit</span>
                </div>
                <svg class="my-2" style="" height="3" width="100%">
                        <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
                <div class="left-frame-topic px-3">
                    <p>
                        hlp-tcp-exp-int-txt
                    </p>
                </div>
            </div>
    </span>
    <span class="">
        <div class="col container-fluid mx-2">
            <div class="px-1 py-2" style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                <span>hlp-tcp-exp-des-tit</span>
            </div>
                <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
            <div class="px-3">
                <ul>
                    <li>
                        <h3>hlp-tcp-exp-beu-tit</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                   hlp-tcp-exp-des-txt1
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-des-txt2
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-des-txt3
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-des-txt4
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-des-txt5
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>hlp-tcp-exp-tou-tit</h3>
                        <ol class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-tou-txt1
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    <span>hlp-tcp-exp-tou-txt2-tit</span>
                                    <ol type="I">
                                        <li>
                                            <p class="px-3">
                                                hlp-tcp-exp-tou-txt2-txt1
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                hlp-tcp-exp-tou-txt2-txt2
                                            </p>
                                        </li>
                                    </ol>
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-tou-txt3
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-tou-txt4
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-tou-txt5
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>hlp-tcp-exp-ovw-tit</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-ovw-txt1
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-exp-ovw-txt2
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </span>
</div>

<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">back-btn</a>
            </button>
        </div>
    </div>
</div>
</body>
    <script src="{% static 'Help/js/topicsScripts.js' %}"></script>
</html>
{% endblock content %}