{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Growth Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


</head>
<body>
<div class="container-fluid">
            <span class="text-center">
                <p class="text-center">
                    <img class="h-75" src="{% static 'Help/img/setting.gif' %}">
                    <div class="container-fluid">
                        <span class="text-center">
                            <p class="text-center" style="font-size:25pt;font-style:Monospace;"><h2>Complete Soon!</h2></p>
                        </span>
                    </div>
                </p>
            </span>
</div>

<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">بازگشت</a>
            </button>
        </div>
    </div>
</div>
</body>
    <script src="{% static 'Help/js/topicsScripts.js' %}"></script>
</html>
{% endblock content %}