{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Identify Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
     <link href="{% static 'Help/css/topicsStyle.css' %}" rel="stylesheet">

</head>

<body>
<div class="container-fluid my-4">
            <span class="">
                <div class="col container-fluid mx-2">
                    <div class=" text-left px-1 py-2"
                         style="font-size : 25pt;font-weight:500;font-family:Fantasy;"><span>مقدمه</span></div>
                    <svg class="my-2" style="" height="3" width="100%">
                            <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                    </svg>
                    <div class="left-frame-topic px-3">
                        <p>
                            .تشخیص آنلاین گل‌ها و گیاهان یکی از کاربردهای هوش مصنوعی در حوزه تصویربرداری و پردازش تصویر است. برای شناسایی گل‌ها و گیاهان، ابتدا تصویر مربوطه با استفاده از الگوریتم‌ها و شبکه‌های عصبی پردازش تصویر به بخش‌های کوچک‌تر تقسیم می‌شود. سپس ویژگی‌های مختلفی مانند شکل، اندازه، رنگ و الگوهای مختلف از هر بخش استخراج می‌شود. در نهایت با استفاده از الگوریتم‌های یادگیری عمیق، این ویژگی‌ها با داده‌های آموزشی مقایسه شده و گل و گیاه مورد نظر با دقت بالا شناسایی می‌شود. این روش شناسایی گل‌ها و گیاهان می‌تواند در حوزه‌های مختلفی مانند کشاورزی، باغبانی و زیباسازی شهری مورد استفاده قرار گیرد.
                        </p>
                    </div>
                </div>
            </span>
    <span class="">
                <div class="col container-fluid mx-2">
                    <div class="text-left px-1 py-2"
                         style="font-size : 25pt;font-weight:500;font-family:Fantasy;"><span>مراحل شناسایی گل‌ها و گیاهان</span></div>
                    <svg class="my-2" style="" height="3" width="100%">
                            <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                    </svg>
                    <div class="bg-white px-3">
                            <ul>
                                <li>
                                    <h3>کاربر کامپیوتر و لپ تاپ</h3>
                                    <ol class="left-frame-topic">
                                        <li>
                                            <p class="px-3">
                                                قبل از هر چیز، به یاد داشته باشید که باید عکس مورد نظر خود را از گیاه مورد نظر گرفته و آن را در سیستم خود ذخیره کرده باشید.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                سپس به بخش شناسایی مراجعه کنید و بر روی دکمه مرور فایل کلیک کنید تا پنجره آپلود فایل باز شود. سپس عکس مورد نظر خود را پیدا کرده و آن را انتخاب کرده و بر روی گزینه باز کردن کلیک کنید.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                به یاد داشته باشید که در صورت انتخاب چندین فایل، فقط آخرین فایل آپلود خواهد شد؛ همچنین لطفاً به فرمت قابل قبول عکس‌ها توجه کنید.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                حال وقتی عکس در سایت آپلود شد و آن را مشاهده کردید روی دکمه آپلود کلیک کنید تا عکس شما برای شناسایی به سرور ارسال شود، در این مرحله باید چند لحظه صبر کنید تا شناسایی به درستی انجام شود.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                هنگامی که عکس شما به سرور ارسال می‌شود، مدل آموزش‌دیده مبتنی بر هوش مصنوعی ما نتیجه شناسایی بسیاری از گیاهان را در کوتاه‌ترین زمان برمی‌گرداند. یعنی چندین نتیجه را برای شما برمی گرداند تا بتوانید نتیجه ای را با بیشترین درصد شباهت انتخاب کنید یا گیاهانی را که کمترین درصد شباهت را دارند را نیز ببینید.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                اکنون می توانید با کلیک بر روی نام هر یک از نتایج تمام مشخصات آن گیاه را مشاهده کنید و حتی می توانید در مورد آن نظر دهید.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                اگر مدل ما قادر به تشخیص عکس شما نبود، حتما آن را با ما به اشتراک بگذارید.
                                            </p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <h3>کاربر موبایل و تبلت</h3>
                                    <ol class="left-frame-topic">
                                        <li>
                                            <p class="px-3">
                                                برای شناسایی هم می تونید از اپلیکیشن ما استفاده کنید، خب ابتدا روی دکمه فایل ها کلیک کنید و بعد از شما می خواهد که یک فایل از فایل های خود انتخاب کنید یا به دوربین اجازه دسترسی به سایت را بدهید تا بتوانید عکس بگیرید. پس از دریافت آن، آن را مستقیماً در سایت آپلود کنید.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                پس از انتخاب فایل مورد نظر، باید آن را در سایت آپلود کنید که تنها به یک کلیک نیاز دارد. زمانی که عکس خود را به طور کامل در سایت مشاهده کردید بر روی دکمه آپلود کلیک می کنید تا عکس گیاه مورد نظر برای شناسایی به سرور ارسال شود. ارسال شود
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                حتما به یاد داشته باشید که نمی توانید چندین فایل را همزمان ارسال کنید، بنابراین در صورت انجام این کار، آخرین فایل را برای شناسایی در نظر خواهیم گرفت.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                در این مرحله همانند سایر کاربران است پس برای کاربران کامپیوتر و لپ تاپ به مرحله پنجم مراجعه کرده و ادامه دهید.
                                            </p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <h3>نکاتی هنگام عکس گرفتن</h3>
                                    <ol class="left-frame-topic">
                                        <li>
                                            <p class="px-3">
                                                دوربین را افقی بگیرید و عکس بگیرید.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                ابتدا روی عکس فوکوس کنید و عکس بگیرید تا عکس تار نشود.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="px-3">
                                                تا حد امکان سعی کنید چیزی غیر از گیاه یا گل مورد نظر در عکس نباشد تا باعث شناسایی اشتباه نشود.
                                            </p>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                    </div>
                </div>
            </span>
    <span class="">
        <div class="col container-fluid mx-2">
            <div class=" text-left px-1 py-2"
                 style="font-size : 25pt;font-weight:500;font-family:Fantasy;"><span>گسترش پایگاه داده</span></div>
            <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
            </svg>
            <div class="left-frame-topic px-3">
                <p>
                    شما می توانید عکس های گیاه شناسی خود را به همراه تمامی اطلاعات گیاه شناسی برای ما ارسال کنید تا این عکس با نام شما در پایگاه داده ما قرار گیرد.
                </p>
                <p>
                    با این اقدام ما را در گسترش دامنه شناسایی گیاهان و افزایش قدرت مدل هوش مصنوعی یاری می دهید.
                </p>
                <p>
                    همچنین نام شما را در مشارکت کنندگان ذکر خواهیم کرد.
                </p>
                <p>
                    همچنین نام شما را در مشارکت کنندگان ذکر خواهیم کرد.
                </p>
            </div>
        </div>
    </span>
</div>
<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">بازگشت</a>
            </button>
        </div>
    </div>
</div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square
            rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
</body>
    <script src="{% static 'Help/js/topicsScripts.js' %}"></script>
</html>
{% endblock content %}