{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Medicinal Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="{% static 'Help/css/topicsStyle.css' %}" rel="stylesheet">
</head>
<body class="">
<div class="container-fluid">
            <span class="">
                <div class="col container-fluid mx-2">
                    <div class="col container-fluid mx-2">
                        <div class="px-1 py-2"
                             style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                            <span>hlp-tcp-med-int-tit</span>
                            </div>
                            <svg class="my-2" style="" height="3" width="100%">
                                <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                            </svg>
                            <ul>
                                <li>
                                    <h3>hlp-tcp-med-trm-tit</h3>
                                    <p class="left-frame-topic px-3">
                                        hlp-tcp-med-trm-txt
                                    </p>
                                </li>
                                <li>
                                    <h3>hlp-tcp-med-mptm-tit</h3>
                                    <div class="left-frame-topic px-3">
                                        <p>
                                            hlp-tcp-med-mptm-txt1'
                                        </p>
                                        <p>
                                            hlp-tcp-med-mptm-txt2
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </span>
    <span class="">
            <div class="col container-fluid mx-2">
                <div class="px-1 py-2"
                     style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                    <span>hlp-tcp-med-htu-tit</span>
                </div>
                <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
                <div class="px-3">
                    <ul>
                        <li>
                            <h3>hlp-tcp-med-ser-tit</h3>
                            <ol class="left-frame-topic">
                                <li>
                                    <p class="px-3">
                                        hlp-tcp-med-ser-txt1
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        hlp-tcp-med-ser-txt2
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        hlp-tcp-med-ser-txt3
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3>hlp-tcp-med-usp-tit</h3>
                            <ol class="left-frame-topic">
                                <li>
                                    <p class="px-3">
                                        hlp-tcp-med-usp-txt1
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        hlp-tcp-med-usp-txt2
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        hlp-tcp-med-usp-txt3
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        hlp-tcp-med-usp-tXt4
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
        </span>
    <span class="">
            <div class="col container-fluid mx-2">
                <div class="px-1 py-2"
                     style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                    <span>
                        hlp-tcp-med-war-tit
                    </span>
                </div>
                <svg class="my-2" style="" height="3" width="100%">
                        <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
                <ul>
                    <li>
                        <h3>hlp-tcp-med-spc-tit</h3>
                        <p id="warning-box" class="left-frame-topic-war px-3">
                            <b>hlp-tcp-med-spc-txt</b>
                        </p>
                    </li>
                </ul>
            </div>
        </span>
</div>

<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">back-btn</a>
            </button>
        </div>
    </div>
</div>
<script>
    if(localStorage.getItem('lang') == 'fa'){
        let warning_frame = document.getElementById('warning-box');
            warning_frame.classList.remove('left-frame-topic-war');
            warning_frame.classList.add('right-frame-topic-war');
    }else{
        let warning_frame = document.getElementById('warning-box');
            warning_frame.classList.remove('right-frame-topic-war');
            warning_frame.classList.add('left-frame-topic-war');
    }

</script>
</body>

<script src="{% static 'Help/js/topicsScripts.js' %}"></script>
</html>
{% endblock content %}