{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Medicinal Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="{% static 'Help/css/topicsStyle.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
            <span class="">
                <div class="col container-fluid mx-2">
                    <div class="col container-fluid mx-2">
                        <div class="px-1 py-2"
                             style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                            <span>Introduction</span>
                            </div>
                            <svg class="my-2" style="" height="3" width="100%">
                                <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                            </svg>
                            <ul>
                                <li>
                                    <h3>Traditional Medicine</h3>
                                    <p class="left-frame-topic px-3">
                                        Traditional medicine refers to the practices, knowledge, and beliefs that have been developed over centuries by different cultures and communities around the world. It is also known as indigenous, complementary, or alternative medicine. Traditional medicine includes various forms of therapies, such as herbal medicine, acupuncture, massage, meditation, and spiritual healing.

                                        In many countries, traditional medicine has been used for centuries as the primary form of healthcare. It is often based on the understanding of the human body and its diseases from a holistic perspective that considers the physical, emotional, and spiritual aspects of health and illness. Traditional medicine uses natural resources, such as plants, animals, and minerals, which are believed to have medicinal properties.

                                        In recent years, traditional medicine has gained increasing attention and recognition from the scientific community and the public health sector. Many traditional medicinal practices have been found to be effective in treating various health conditions and diseases. For example, acupuncture has been shown to provide pain relief and improve the symptoms of depression and anxiety. Herbal medicine has been used to treat respiratory diseases, cardiovascular diseases, and diabetes, among others.

                                        Several countries have developed policies and regulations to integrate traditional medicine into their national healthcare systems. For instance, in China, traditional medicine is integrated with Western medicine, and many hospitals have departments that offer both forms of treatment. In India, Ayurveda, a traditional medicinal system, is recognized as a standard medical practice, and practitioners are licensed by the government.

                                        Despite the growing recognition of traditional medicine, it is important to note that not all traditional practices are safe or effective. Some traditional medicinal practices may be harmful if not administered correctly or in combination with other treatments. Additionally, traditional medicine should not replace Western medicine in cases of severe or life-threatening conditions.

                                        In conclusion, traditional medicine is an important part of healthcare in many countries, and its integration with Western medicine can provide a holistic approach to health and wellness. However, it is crucial to ensure that traditional medicinal practices are safe and effective and that they are used in conjunction with evidence-based Western medicine to provide the best possible care for patients.
                                    </p>
                                </li>
                                <li>
                                    <h3>Medicinal Properties In Traditional Medicine</h3>
                                    <div class="left-frame-topic px-3">
                                        <p>
                                            The relationship between medicinal properties and traditional medicine is closely intertwined, so that traditional medicine practices rely heavily on the medicinal properties of natural resources to provide health care.
                                        </p>
                                        <p>
                                            The relationship between medicinal properties and traditional medicine is closely intertwined, so that traditional medicine practices rely heavily on the medicinal properties of natural resources to provide health care.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </span>
    <span class="">
            <div class="col container-fluid mx-2">
                <div class="px-1 py-2"
                     style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                    <span>How To Use</span>
                </div>
                <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
                <div class="px-3">
                    <ul>
                        <li>
                            <h3>Searching</h3>
                            <ol class="left-frame-topic">
                                <li>
                                    <p class="px-3">
                                        You can enter the name of your condition and get your prescription, but we recommend that you use the condition name filter.
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        Also, you can use the filter of the medicinal properties of the plant in this section, that is, when you know what property causes your treatment, it is recommended to use this section.
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        Now, after choosing the search method, click on the search button so that your copy is wrapped.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3>Use Prescription</h3>
                            <ol class="left-frame-topic">
                                <li>
                                    <p class="px-3">
                                        Your prescription is ready!
                                        At the beginning of the prescription, a brief explanation of the complication is given.
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        This possibility is provided for you so that you can know more about your prescription and its causes, that is, there are several articles mentioned in your copy that you can refer to.
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        Now, to use prescription drugs, you can use it by studying how to use each drug.
                                    </p>
                                </li>
                                <li>
                                    <p class="px-3">
                                        Be sure to remember that some medicines are allergenic, so read all the details of how to use them.
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
        </span>
    <span class="">
            <div class="col container-fluid mx-2">
                <div class="px-1 py-2"
                     style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                    <span>
                        Warning
                    </span>
                </div>
                <svg class="my-2" style="" height="3" width="100%">
                        <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
                <ul>
                    <li>
                        <h3>Special Cases</h3>
                        <p class="left-frame-topic-war px-3">
                            <b>Our data and information are based on the opinions of experts in traditional medicine in the country. However, you may have a sensitivity or allergy to a particular herb or medication. Our website does not provide any medicinal prescriptions for diseases and only considers general aspects. Therefore, if you suspect that you have a sensitivity or allergy to a medication, please consult with a specialist physician or traditional medicine practitioner and take medications under their consultation.</b
                        </p>
                    </li>
                </ul>
            </div>
        </span>
</div>

<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">back-btn</a>
            </button>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content %}