{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Support Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
     <link href="{% static 'Help/css/topicsStyle.css' %}" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
    <span class="">
        <div class="col container-fluid mx-2">
            <div class="px-1 py-2"
                 style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                <span>hlp-tcp-sup-ben-tit</span>
            </div>
               <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
               </svg>
            <div class="left-frame-topic px-3">
                <p>
                    hlp-tcp-sup-ben-txt
                </p>
            </div>
        </div>
    </span>
    <span class="">
        <div class="col container-fluid mx-2">
            <div class="px-1 py-2"
                style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                <span>hlp-tcp-sup-ucs-tit</span>
            </div>
                <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
            <div class="px-3">
                <ul>
                    <li>
                        <h3>hlp-tcp-sup-idf-tit</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-idn-txt1
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-idn-txt2
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-idn-txt3
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-idn-txt4
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>hlp-tcp-sup-exp-tit</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-exp-txt1
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-exp-txt2
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>hlp-tcp-sup-hlg-tit</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-hlp-txt1
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-hlp-txt2
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-hlp-txt3
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>hlp-tcp-sup-med-tit</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-med-txt1
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-med-txt2
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-med-txt3
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-med-txt4
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>hlp-tcp-sup-blg-tit</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-blg-txt1
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    hlp-tcp-sup-blg-txt2
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </span>
    <span class="">
        <div class="col container-fluid mx-2">
            <div class="px-1 py-2"
                style="font-size : 25pt;font-weight:500;font-family:Fantasy;"><span>hlp-tcp-sup-htu-tit</span>
            </div>
                <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
            <div class="px-3">
                <ol class="left-frame-topic">
                    <li>
                        <p class="px-3">
                            hlp-tcp-sup-htu-txt1
                        </p>
                    </li>
                    <li>
                        <p class="px-3">
                            hlp-tcp-sup-htu-txt2
                        </p>
                    </li>
                    <li>
                        <p class="px-3">
                            hlp-tcp-sup-htu-txt3
                        </p>
                    </li>
                    <li>
                        <p class="px-3">
                            hlp-tcp-sup-htu-txt4
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </span>
</div>

<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">back-btn</a>
            </button>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content %}