{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Support Guides</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
     <link href="{% static 'Help/css/topicsStyle.css' %}" rel="stylesheet">


</head>
<body>
<div class="container-fluid">
    <span class="">
        <div class="col container-fluid mx-2">
            <div class="px-1 py-2"
                 style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                <span>مزایا</span>
            </div>
               <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
               </svg>
            <div class="left-frame-topic px-3">
                <p>
                    پشتیبانی آنلاین در دنیای امروز اهمیت فزاینده‌ای پیدا می‌کند. با ظهور اینترنت، مردم اکنون می‌توانند به پشتیبانی از سراسر جهان دسترسی داشته باشند، فارغ از اینکه کجا هستند. پشتیبانی آنلاین می‌تواند به شکل فروم‌های آنلاین. اتاق‌های گفتگو و سایر انجمن‌های آنلاین باشد. این انجمن‌های آنلاین فضای امنی را برای افراد فراهم می‌کنند تا در مورد مشکلاتشان صحبت کنند. تجربیات خود را به اشتراک بگذارند و از دیگران مشاوره بگیرند. با پشتیبانی آنلاین، مردم می توانند بدون نیاز به ترک آسایش خانه خود کمک مورد نیاز خود را بیابند. پشتیبانی آنلاین می تواند ابزاری عالی برای کسانی باشد که با مشکلات سلامت روان دست و پنجه نرم می کنند.
                </p>
            </div>
        </div>
    </span>
    <span class="">
        <div class="col container-fluid mx-2">
            <div class="px-1 py-2"
                style="font-size : 25pt;font-weight:500;font-family:Fantasy;">
                <span>موارد استفاده</span>
            </div>
                <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
            <div class="px-3">
                <ul>
                    <li>
                        <h3>شناسایی</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    در قسمت شناسایی اگر نتوانستید عکس بفرستید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    اگر عکس شما شناسایی نشد، آن را به تیم پشتیبانی ما اطلاع دهید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    اگر می خواهید اطلاعات را به طور گسترده ویرایش کنید، با ما تماس بگیرید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    به طور کلی، اگر در فرآیند شناسایی مشکلی دارید، لطفاً با پشتیبانی ما در میان بگذارید.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>کاوش و تحقیق</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    در قسمت جستجو، اگر مشکلی در اعمال فیلترها یا ادغام آنها دارید، به ما اطلاع دهید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    به طور کلی در صورت بروز هرگونه مشکل در این قسمت به واحد پشتیبانی اطلاع دهید.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>کمک در پرورش گیاه</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    اگر از کاربرانی هستید که از قسمت پشتیبانی ویژه در رشد استفاده می کنید، اگر در برقراری ارتباط با مشاور خود مشکلی داشتید، به پشتیبانی ما اطلاع دهید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    در صورت بروز مشکل در اتصال به اتاق مجازی به پشتیبانی پیام دهید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    اگر در هر مرحله از استفاده از این سرویس ویژه با مشکل مواجه شدید، کادر پشتیبانی ما در خدمت شما هستند.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>درمان با خواص دارویی</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    استفاده از خدمات خواص دارویی، نیازمند رعایت نکات ذکر شده در روش مصرف هر یک از آن‌ها است؛ بنابراین، در صورتی که هرگونه سوال یا شکی وجود دارد، حتماً پیامی به پشتیبانی ارسال کنید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    به یاد داشته باشید که پشتیبانی آنلاین یک پزشک نیست! در نتیجه، از او انتظار مشاوره پزشکی نداشته باشید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    اگر مشکلی در جستجو دارید، آن را با پشتیبانی در میان بگذارید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    به طور کلی در صورت وجود مشکل در این قسمت به ما اطلاع دهید.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>مقالات علمی</h3>
                        <ul class="left-frame-topic">
                            <li>
                                <p class="px-3">
                                    در صورت داشتن هرگونه سوال یا ابهامی در مورد صحت مقالات، لطفاً با ما در میان بگذارید.
                                </p>
                            </li>
                            <li>
                                <p class="px-3">
                                    اگر در استفاده از این بخش مشکلی دارید، لطفاً به پشتیبانی اطلاع دهید.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </span>
    <span class="">
        <div class="col container-fluid mx-2">
            <div class="px-1 py-2"
                style="font-size : 25pt;font-weight:500;font-family:Fantasy;"><span>نحوه استفاده</span>
            </div>
                <svg class="my-2" style="" height="3" width="100%">
                    <line x1="0" y1="0" x2="1500" y2="0" style="stroke:black;stroke-width:2.5"/>
                </svg>
            <div class="px-3">
                <ol class="left-frame-topic">
                    <li>
                        <p class="px-3">
                            برای ارتباط با واحد پشتیبانی ابتدا به قسمت پشتیبانی مراجعه نمایید.
                        </p>
                    </li>
                    <li>
                        <p class="px-3">
                            سپس سرویسی را انتخاب می کنید که در استفاده از آن مشکل داشتید.
                        </p>
                    </li>
                    <li>
                        <p class="px-3">
                            حالا وارد اتاق مجازی شوید و سوال خود را بپرسید.
                        </p>
                    </li>
                    <li>
                        <p class="px-3">
                            کارکنان پشتیبانی ما در اسرع وقت به سوال شما پاسخ خواهند داد.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </span>
</div>

<div class="align-content-center">
    <div class="w-50 mx-auto">
        <div class="mx-auto" style="width:fit-content;">
            <button class="btn-success" type="submit" onsubmit="event.preventDefault();"
                    style="border : solid 5px;border-radius : 2.5mm;">
                <a class="text-light" href="{% url 'help_url' %}">بازگشت</a>
            </button>
        </div>
    </div>
</div>
</body>
    <script src="{% static 'Help/js/topicsScripts.js' %}"></script>
</html>
{% endblock content %}