.page-header {
    background     : linear-gradient(rgba(15, 66, 41, .6), rgba(15, 66, 41, .6)), url(../img/focusPhone2.jpg) center center no-repeat;
    background-size: cover;
}

form {
    width : auto;
    height: auto;
    border: 4px;
}

form p {
    width      : 100%;
    height     : 100%;
    text-align : center;
    line-height: 170px;
    color      : rgba(15, 66, 41, .6) font-family: Arial;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.drag-area {
    border         : 2px dashed #072A19;
    border-radius  : 5px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}

.drag-area:active {
    border: 2px solid #348E38;
    width:100%;
}

.drag-area .icon {
    font-size: 100px;
    color    : #fff;
}

.drag-area p {
    font-size: 18px;
    color    : #0F4229;
    margin   : 10px 0 15px 0;
}

.drag-area input {
    padding      : 10px 25px;
    font-size    : 20px;
    font-weight  : 500;
    border       : none;
    outline      : none;
    background   : #fff;
    color        : #072A19;
    border-radius: 5px;
    cursor       : pointer;
}

.drag-area img {
    width:6cm;
    height:6cm;
    object-fit   : cover;
    border-radius: 5px;
}

.submit-button {
    align-self   : center;
    justify-self : center;
    justify-items: center;
    margin-right : 10%;
}

#submit-button {
    margin-top   : 0.5cm;
    border-radius: 2mm;
    margin-left  : 39%;
}

#form-upload {
    width      : 100%;
    margin-left: 1.8%;
}


.container-button {
    justify-content: center;
    width          : fit-content;
    margin-left    : 39.5%;
}
.col-lg-3-up {
    flex : 0 0 auto;
    width: 25%
}

.form-upload-image{
    width:50%;
    height:100%;
}

.w-75-first-part{
    width:90%;
}

.image-result{
    border-style: solid;
    border-width: 5px;
    border-radius:2.5mm;
}

.grid-container-items{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.0rem;
}

.cell-title{
    direction:rtl;
    color:white;
    border: 3px black;
    padding-top   : 1rem !important;
    padding-bottom: 1rem !important;
    border-radius: 3.5mm;
    background-color: #0F4229;
}

.grid-container-little-info{
    direction:rtl;
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr;
    grid-gap: 0.95rem;
}

.cell-title-little{
    direction:rtl;
    width:60%;
    color:white;
    border: 3px black;
    border-radius: 3.5mm;
    background-color: #0F4229;
}

.cell-little-content{
    direction:rtl;
    color:dark;
    border: 3px black;
    border-radius: 3.5mm;
    background-color: white;
}

.grid-container-morph{
    direction:rtl;
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 0.95rem;
}

.grid-container-need{
    direction:rtl;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 0.80rem;
    grid-column-gap : 2rem;
}

.cell-title-need{
    direction:rtl;
    color:white;
    border: 3px black;
    border-radius: 3.5mm;
    background-color: #0F4229;
}

.grid-container-vid-cap{
    direction:rtl;
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.80rem;
    grid-column-gap : 2.5rem;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width:75%;
  max-width: 100%;
  position : relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h-80-more-images{
    height: 50%;
}