@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: sahel;
    src: url("../../font/Sahel.woff");
}
body {
    font-family: sahel;
}
.page-header {
    background     : linear-gradient(rgba(15, 66, 41, .6), rgba(15, 66, 41, .6)), url(../img/focusPhone2.jpg) center center no-repeat;
    background-size: cover;
}

form {
    width : auto;
    height: auto;
    border: 4px;
}

form p {
    width      : 100%;
    height     : 100%;
    text-align : center;
    line-height: 170px;
    color      : rgba(15, 66, 41, .6);
    font-family: Arial;
}

.drag-area {
    border         : 2px dashed #072A19;
    border-radius  : 5px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}

.drag-area:active {
    border: 2px solid #348E38;
    width:100%;
}

.drag-area .icon {
    font-size: 100px;
    color    : #fff;
}

.drag-area p {
    font-size: 18px;
    color    : #0F4229;
    margin   : 10px 0 15px 0;
}

.drag-area input {
    padding      : 10px 25px;
    font-size    : 20px;
    font-weight  : 500;
    border       : none;
    outline      : none;
    background   : #fff;
    color        : #072A19;
    border-radius: 5px;
    cursor       : pointer;
}

.drag-area img {
    width:6cm;
    height:6cm;
    object-fit   : cover;
    border-radius: 5px;
}

.submit-button {
    align-self   : center;
    justify-self : center;
    justify-items: center;
    margin-right : 10%;
}

#submit-button {
    margin-top   : 0.5cm;
    border-radius: 2mm;
    margin-left  : 39%;
}

#form-upload {
    width      : 100%;
    margin-left: 1.8%;
}


.container-button {
    justify-content: center;
    width          : fit-content;
    margin-left    : 39.5%;
}
.col-lg-3-up {
    flex : 0 0 auto;
    width: 25%
}

.form-upload-image{
    width:50%;
    height:100%;
}

.w-75-first-part{
    width:90%;
}

.image-result{
    border-style: solid;
    border-width: 5px;
    border-radius:2.5mm;
}

.grid-container-items{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
    grid-gap: 0.2rem;
}

.grid-container-items-no-res{
    direction:rtl;
    display:flex;
    flex-direction:row;
    width:100%;
}

.cell-title{
    color:white;
    border: 3px black;
    padding-top   : 1rem !important;
    padding-bottom: 1rem !important;
    border-radius: 3.5mm;
    background-color: #0F4229;
}

.grid-container-little-info{
    direction:rtl;
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.95rem;
    grid-row-gap:2.5rem;
}

.cell-title-little{
    direction:rtl;
    margin-right:auto;
    margin-left:auto;
    font-size:0.9rem;
    width:100%;
    max-width:100%;
    color:white;
    border: 3px black;
    border-radius: 3.5mm;
    background-color: #0F4229;
    text-align:center;
}

.cell-little-content{
    color:dark;
    border: 3px black;
    border-radius: 3.5mm;
    background-color: white;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    margin-top:8px;
    height:70%;
    text-align: center;
}

.cell-items-content{
    color:dark;
    border: 3px black;
    border-radius: 3.5mm;
    background-color: white;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    margin-top:8px;
    height:70%;
    text-align: center;
}

.cell-title-morph{
    direction:rtl;
    margin-right:auto;
    margin-left:auto;
    font-size:0.9rem;
    width:auto;
    max-width:100%;
    height:fit-content;
    color:white;
    border: 3px black;
    border-radius: 3.5mm;
    background-color: #0F4229;
    text-align:center;
}

.cell-morph-content{
    direction:rtl;
    border: 3px black;
    border-radius: 3.5mm;
    background-color: white;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    height:auto;
    text-align: center;
}


.grid-container-morph{
    direction:rtl;
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 0.95rem;
    grid-row-gap:0.1rem;
}

.grid-container-need{
    direction:rtl;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.80rem;
    grid-column-gap : 2rem;
}

.cell-title-need{
    direction:rtl;
    color:white;
    font-size:calc(0.5vw + 1.8vh);
    border: 3px black;
    border-radius: 3.5mm;
    background-color: #0F4229;
    height:40%;
}

.grid-container-vid-cap{
    direction:rtl;
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.80rem;
    grid-column-gap : 2.5rem;
}

.grid-container-priority{
    direction : rtl;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.90rem;
}

.grid-cell-priority{
    border-style : hidden;
    border-width : 5px;
    border-radius: 2mm;
}

.row-items-before-res{
    display:flex;
    flex-direction:row;
}

.inner-div-items-title{
    margin-top:auto;
    margin-bottom:auto;
    width:25%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width:75%;
  max-width: 100%;
  position : relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h-80-more-images{
    height: 50%;
}

#video-collapse{
}

.temp-div-col{
    display:flex;
    flex-direction: row;
}

.video-op{
    display:flex;
    flex-direction:row;
    column-gap: 1.5vw;
}

@media (max-width:800px){
     .cell-little-content{
        direction:rtl;
        color:dark;
        border: 3px black;
        border-radius: 3.5mm;
        background-color: white;
        width:100%;
        margin-right:auto;
        margin-left:auto;
        height:80%;
        max-height:100%;
        display:flex;
        flex-direction:column;
    }
    .grid-container-little-info{
        display:flex;
        flex-direction:column;
    }
    .cell-title-little{
        display:flex;
        flex-direction:column;
    }
    .grid-container-need{
        display:flex;
        flex-direction:column;
    }
    .grid-container-items{
        display:flex;
        flex-direction:column;
    }
    .grid-container-items-no-res{
        display:flex;
        flex-direction:column;
        width:100%;
    }
    .inner-div-items-title{
        width:70%;
        margin-top:15px;
    }

    .cell-items-content{
        color:dark;
        border: 3px black;
        border-radius: 3.5mm;
        background-color: white;
        width:100%;
        margin-right:auto;
        margin-left:auto;
        margin-top:8px;
        text-align: center;
        font-size:3.5vw;
    }

    #video-collapse{
        display: none;
        flex-basis : auto;
        flex-grow  : 1;
        align-items: center;
        transform       : rotate(-180deg);
    }

    .temp-div-col{
        display:flex;
        flex-direction: column;
    }

    .video-op{
        display:flex;
        flex-direction:column;
        height:75%;
        row-gap: 1.5vh;
    }

    .cell-title{
        font-size:2.4vw;
    }
}
