{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Identify</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="{% static 'Identify/css/styleIdentify.css' %}" rel="stylesheet">
    <link href="{% static 'Identify/css/popupStyle.scss' %}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100
      vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status" style="width: 3rem;
        height: 3rem;"></div>
</div>


<div class="container-fluid page-header py-5 mb-5 wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white mb-4 animated slideInDown">Identify</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item">Fast</li>
                <li class="breadcrumb-item">Trust</li>
                <li class="breadcrumb-item active" aria-current="page">Comfortable</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Quote Start -->
<div class="container-fluid py-5">
    <div class="container">
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-3 col-md-5 wow fadeInUp"
                         data-wow-delay="0.1s">
                        <img class="img-fluid rounded" data-wow-delay="0.1s"
                             src="{% static 'Identify/img/focusPhone3.jpg' %}">
                    </div>
                    <div class="col-lg-6 col-md-7 wow fadeInUp"
                         data-wow-delay="0.3s">
                        <h1 class="display-1 text-primary mb-0"></h1>
                        <h1 class="display-5 mb-4">Guides</h1>
                        <p class="mb-4">
                        <ol class="fw-medium">
                            <li>Click on the "<code>Choose File</code>" button to
                                upload image that you want.
                            </li>
                            <li>
                                Select a photo. Click or tap the photo that you want
                                to
                                upload to website.
                                <ul class=""
                                    style="list-style:square;">
                                    <li>If you want to upload multiple
                                        photos at once on a desktop, hold down Ctrl
                                        (Windows) or ⌘ Command (Mac) while clicking each
                                        photo you want to upload.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Confirm your selection. Click Open (desktop) or tap
                                Next
                                twice (mobile).
                            </li>
                            <li>
                                Upload the photo(s). Click Upload a Photo (or Upload
                                some
                                Photos) in the lower-right side of the page and then
                                click Upload when prompted (desktop), or tap Post in
                                the
                                top-right corner of the screen (mobile). Your
                                selected
                                photo(s) will be uploaded to website.
                            </li>
                        </ol>
                        </p>
                        <div class="justify-content-center">
                            <a class="btn btn-primary py-3 px-4" style="align-self:
                    center;margin-left: 35%;"
                               href="https://giphy.com/upload">Help Me More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 wow fadeInUp"
                         data-wow-delay="0.5s">
                        <div class="row g-5">
                            <div class="col-12 col-sm-6 col-lg-12">
                                <div class="border-start ps-4">
                                    <i class="fa bi-file-image-fill fa-3x text-primary
                        mb-3"></i>
                                    <h4 class="mb-3">Get vertical</h4>
                                    <span>The image you upload should be vertical for
                        better recognition</span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-12">
                                <div class="border-start ps-4">
                                    <i class="fa bi-bookmark-plus-fill fa-3x text-primary
                        mb-3"></i>
                                    <h4 class="mb-3">Add to database</h4>
                                    <span>Your photo will be added to our database if you
                        allow it</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s"
             style="max-width: 500px;">
            <h1 class="display-5 mb-5 fadeInBig" data-wow-delay="0.1s" id="title_identify">Upload Your Picture</h1>
            <h1 class="display-5 mb-5 fadeInBig"
                style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;display:none;"
                data-wow-delay="0.1s"
                id="title-waiting">
                Waiting to Identify...
            </h1>
            <h1 class="display-5 mb-5 fadeInBig font"
                style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;display:none;"
                data-wow-delay="0.1s"
                id="title-detected">
                Result
            </h1>
        </div>
        <div class="justify-content-md-center" id="form-up">
            <div class="mx-0 h-75" style="flex : 0 0 auto;" id="upload-box">
                <!--               start upload image box-->
                <div class="h-75 bg-light rounded p-4 p-sm-5 wow fadeInUp"
                     data-wow-delay="0.1s" style="align-self: center;" id="upload-image">
                    <form action="#" class="form-upload-image mx-auto" method="GET" name="ImageUp"
                          onsubmit="event.preventDefault();"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="drag-area" id="drag-area">
                            <button type="button" class="btn-outline-success fas
                    fa-cloud-upload-alt" id="btn-upload" onclick="simultaneously_clicked()">Browse files
                            </button>
                            <p class="col justify-content-center">
                                <i class="fas fa-file"></i>
                                Drag your files here.</p>
                            <input type="file" id="input-image" hidden/>
                        </div>
                        <div class="container-button mx-auto my-auto">
                            <button type="submit" class="btn-primary px-lg-4 py-lg-2" style="border-radius: 2mm;"
                                    onclick="upload_image_ajax('imgUp');">Upload
                            </button>
                            <input type="reset" class="btn-danger px-lg-4 py-lg-2"
                                   style="margin-top:
                    0.5cm;border-radius: 2mm;" value="Reset"
                                   onclick="restored('imgUp')"/>
                        </div>
                    </form>
                </div>
                <!--               end upload image box-->
                <!--                start waiting gif -->
                <div class="h-75 w-50 align-content-center mx-auto my-auto my-3" id="waiting-gif"
                     style="border-radius:2.5mm;border-style:hidden;display:none;">
                    <img class="container h-100 my-5 mx-auto my-auto" data-wow-delay="0.1s"
                         src="{% static 'Identify/img/gif2.gif' %}">
                </div>
                <!--                end waiting git-->
                <!--                start show result-->
                <div class="h-100 row align-items-start my-3 p-4" id="result"
                     style="background:url('../static/Identify/img/backR2esults.jpg') fixed;border-radius:2.5mm;display:none;">
                    <div class="w-50 wow fadeInLeft my-auto"
                         data-wow-delay="0.1s">
                        <img class="img-fluid rounded mx-auto my-2" id="result-image"
                             data-wow-delay="0.1s" src="">
                    </div>
                    <div class="w-50 wow fadeInUp text-center mx-auto my-auto" data-wow-delay="0.3s">
                        <h1 class="display-5 mb-4 text-white" id="result-name"></h1>
                        <p class="mb-4 text-white" id="result-morph"></p>
                        <a class="btn btn-primary py-3 px-4"
                           href="#">Know more</a>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn-danger mx-auto my-auto px-lg-5 py-lg-3"
                            style="display:none;border-radius:3.5mm" id="btn-back" onclick="back_to_upload()">
                        Back
                    </button>
                </div>
<!--                <div class="popup-wrap">-->
<!--                    <div class="popup-box">-->
<!--                        <h2>Title of Popup</h2>-->
<!--                        <h3>A sub-heading for the popup with a little description.</h3>-->
<!--                        <a class="close-btn popup-close" href="#">x</a>-->
<!--                    </div>-->
<!--                </div>-->
                <!--                end show result-->
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->
</body>
<script src="{% static 'Identify/js/dragDrapScrips.js' %}"></script>
</html>
{% endblock content %}
