{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Help</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="{% static 'Help/css/helpStyle.css' %}">
</head>
<body>
<div class="container-fluid page-header py-5 mb-5 w-100 wow
            fadeIn"
     data-wow-delay="0.1s">
    <div class="wow fadeInUp container text-center mx-auto my-auto py-5-help" data-wow-delay="0.1s">
        <h1 class="display-3 text-white animated
                    slideInDown">چگونه می توانیم به شما کمک کنیم؟</h1>
    </div>
    <div class="container pb-5">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="wow fadeInUp card-body row
                                align-items-center bg-white"
                     id="border-search-box" data-wow-delay="0.05s">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control
                                        form-control-lg
                                        form-control-borderless
                                        form-control-plaintext card card-sm
                                        "
                               type="search" placeholder="Search"
                               id="keyword">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success rounded-pill"
                                id="border-bottun-h"
                                type="submit"
                                onclick="search_help_ajax(document.getElementById('keyword').value)">جست وجو 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topic End -->
<div class="row container-fluid py-5">
    <div id="display-guides" class="row container w-75">
        <div class="text-center wow fadeInUp mx-auto"
             data-wow-delay="0.1s" style="max-width:
                        600px;font-family:Verdana, Geneva, Tahoma, sans-serif;">
            <p class="fs-5 fw-bold text-primary">موضوعات</p>
            <h1 class="display-5 mb-5">موضوعاتی که می توانیم در نحوه استفاده آن به شما کمک کنیم</h1>
        </div>
        <div class="row gx-1 gy-3" id="width-topics-m">
            <div class="col-lg-4 col-md-6 wow fadeInUp" style="height:fit-content;"
                 data-wow-delay="0.1s">
                <div class="service-item rounded d-flex" style="height:62vh;">
                    <div class="service-img">
                        <img class="img-fluid rounded"
                             src="{% static 'Help/img/idenBack.jpg' %}"
                             alt="">
                    </div>
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle
                                        mx-auto
                                        mb-3">
                            <img class="img-fluid rounded-circle"
                                 src="{% static 'img/icon/iconIden.jpg' %}"
                                 alt="Icon">
                        </div>
                        <h4 class="mb-3">شناسایی گیاه</h4>
                        <p class="mb-4">تشخیص آنلاین و سریع گل و گیاه با هوش مصنوعی</p>
                        <a href="{% url 'identify_guides_url' %}" style="direction:ltr;"
                           class="btn btn-sm"><i class="fa
                                            fa-plus text-primary me-2"></i><span class="px-1">بیشتر بخوانید</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" style="height:fit-content;"
                 data-wow-delay="0.3s">
                <div class="service-item rounded d-flex" style="height:62vh;">
                    <div class="service-img rounded">
                        <img class="img-fluid"
                             src="{% static 'Help/img/exploreBack.jpg' %}"
                             alt="">
                    </div>
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle
                                        mx-auto
                                        mb-3">
                            <img class="img-fluid"
                                 src="{% static 'Help/img/exploreIcon2.png' %}"
                                 alt="Icon">
                        </div>
                        <h4 class="mb-3">دایره المعارف گیاهان</h4>
                        <p class="mb-4">گیاهان و گل های مختلف را جستجو کنید و اطلاعاتی در مورد آنها ارائه دهید.</p>
                        <a class="btn btn-sm" style="direction:ltr;"
                           href="{% url 'explore_guides_url' %}"><i
                                class="fa
                                            fa-plus text-primary me-2"></i><span class="px-1">بیشتر بخوانید</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" style="height:fit-content;"
                 data-wow-delay="0.5s">
                <div class="service-item rounded d-flex" style="height:62vh;">
                    <div class="service-img rounded">
                        <img class="img-fluid"
                             src="{% static 'Help/img/supportBack.jpg' %}"
                             alt="">
                    </div>
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle
                                        mx-auto
                                        mb-3">
                            <img class="img-fluid"
                                 src="{% static 'Help/img/supportIcon3.png' %}"
                                 alt="Icon">
                        </div>
                        <h4 class="mb-3">پشتیبانی آنلاین</h4>
                        <p class="mb-4">پشتیبانی آنلاین توسط مشاوران متخصص در تمامی مراحل رشد گیاه و تعامل با آنها.</p>
                        <a class="btn btn-sm" style="direction:ltr;"
                           href="{% url 'support_guides_url' %}"><i
                                class="fa
                                            fa-plus text-primary me-2"></i><span class="px-1">بیشتر بخوانید</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" style="height:fit-content;"
                 data-wow-delay="0.1s">
                <div class="service-item rounded d-flex" style="height:62vh;">
                    <div class="service-img rounded">
                        <img class="img-fluid"
                             src="{% static 'Help/img/habiBack.jpg' %}"
                             alt="">
                    </div>
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle
                                        mx-auto
                                        mb-3">
                            <img class="img-fluid rounded-circle"
                                 src="{% static 'Help/img/habiIcon2.png' %}"
                                 alt="Icon">
                        </div>
                        <h4 class="mb-3">مقالات علمی وکاربردی</h4>
                        <p class="mb-4">مقالات و اسناد مربوط به گیاهان که با کارشناسان ارائه می شود.</p>
                        <a class="btn btn-sm" style="direction:ltr;"
                           href="{% url 'blog_guides_url' %}"><i
                                class="fa
                                            fa-plus text-primary me-2"></i><span class="px-1">بیشتر بخوانید</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" style="height:fit-content;"
                 data-wow-delay="0.3s">
                <div class="service-item rounded d-flex" style="height:62vh;">
                    <div class="service-img rounded">
                        <img class="img-fluid"
                             src="{% static 'Help/img/midBack.jpg' %}"
                             alt="">
                    </div>
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle
                                        mx-auto
                                        mb-1">
                            <img class="img-fluid rounded-circle mt-0"
                                 src="{% static 'Help/img/midcineIcon4.png' %}"
                                 alt="Icon">
                        </div>
                        <h4 class="mb-0">خواص دارویی</h4>
                        <p class="mb-4">شما می توانید کاربرد هر گیاه را بر اساس خواص دارویی بدانید.</p>
                        <a class="btn btn-sm" style="direction:ltr;"
                           href="{% url 'medicine_guides_url' %}"><i
                                class="fa
                                            fa-plus text-primary me-2"></i><span class="px-1">بیشتر بخوانید</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" style="height:fit-content;"
                 data-wow-delay="0.5s">
                <div class="service-item rounded d-flex" style="height:62vh;">
                    <div class="service-img rounded">
                        <img class="img-fluid"
                             src="{% static 'Help/img/growBack.jpg' %}"
                             alt="">
                    </div>
                    <div class="service-text rounded p-5">
                        <div class="btn-square rounded-circle
                                        mx-auto
                                        mb-3">
                            <img class="img-fluid rounded-circle"
                                 src="{% static 'Help/img/growIcon4.png' %}"
                                 alt="Icon">
                        </div>
                        <h4 class="mb-3">مشاوره و پشتیبانی در رشد گیاه</h4>
                        <p class="mb-4">به شما کمک می کند تا روند رشد گام به گام رشد کنید</p>
                        <a class="btn btn-sm" style="direction:ltr;"
                           href="{% url 'growth_guides_url' %}"><i
                                class="fa fa-plus text-primary me-2"></i><span class="px-1">بیشتر بخوانید</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col container w-25 mt-5">
        <div class="list-group
                        justify-content-center"
             style="font-family:system-ui, -apple-system,
                        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
                        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            <div class="p-4 bg-light h-25" id="margin-between-box">
                <h3 class="w-100 h-25 fw-bold pb-2" id="common-q-h">سوالات رایج</h3>
                <ul class="text-decoration-underline">
                    <li>چگونه عکس گیاه را آپلود کنم؟</li>
                    <li>چگونه در مورد گیاهی اطلاعاتی به دست بیارم؟</li>
                    <li>چگونه می توان مناطقی که گیاه مورد نظر در آن رشد می کند پیدا کرد؟
                    </li>
                    <li>چگونه با پشتیبانی تماس بگیریم؟</li>
                    <li>آیا سایت از تشخیص گل نیز پشتیبانی می کند؟
                    </li>
                </ul>
            </div>
            <div class="w-100 h-50 my-auto py-5 text-center">
                <span>
                    پشتیبانی آنلاین می تواند منبع ارزشمندی برای کسانی باشد که علاقه مند به شناسایی گیاهان هستند، به ویژه برای کسانی که تازه شروع به کار کرده اند. وب‌سایت‌های شناسایی گیاهان می‌توانند گزینه‌های پشتیبانی آنلاین مختلفی را برای کمک به کاربران در شناسایی گیاهان، از جمله انجمن‌ها، اتاق‌های گفتگو و مشاوره‌های تخصصی ارائه دهند. این منابع می تواند به ویژه برای کسانی مفید باشد که ممکن است به منابع سنتی شناسایی گیاهان مانند راهنمایان مزرعه یا باغ های گیاه شناسی دسترسی نداشته باشند.
                </span>
            </div>
            <div class="w-100 p-4 bg-light mt-4 h-25
                            justify-content-center"
                 id="margin-between-box">
                <h3 class="w-100 h-25 fw-bolder pb-3 text-center">نیاز به پشتیبانی دارید؟</h3>
                <span class="text-center">
                                <p>شما می توانید در صورت نیاز به پشتیبان آنلاین برای استفاده از سرویس های سایت ، با پشتیبان تماس بگیرید.
                                </p>
                            </span>
                <div class="mx-auto my-auto" style="width:
                                fit-content;">
                    <button class="btn-primary w-100"
                            id="margin-support" type="submit">تماس با پشتیبانی
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topic End -->
<script src="{% static 'Help/js/helpScript.js' %}"></script>
</body>
</html>
{% endblock content %}
