@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Sahel;
    src: url("./assets/Sahel.woff");
}

h1, h2, h3, h4, h5, h6, a, p, li, button, ::placeholder, label, div{
    font-family: Sahel, serif !important;
}

span {
    font-family: Sahel, serif;
}
html, body {
    min-height: 100vh;
    min-width: 320px;
    margin: auto;
}



#root {
    min-height: 100vh;
    /*overflow-y: auto;*/
    margin: auto;
    padding-left: 15px;
}

@media (min-width: 768px) {
    #root {
        padding-left: 50px;
    }
}
