{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Medicinal Properties</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <style id="" media="all">/* devanagari */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
          unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
        }
        /* latin-ext */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
          unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* devanagari */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
          unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
        }
        /* latin-ext */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
          unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* devanagari */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
          unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
        }
        /* latin-ext */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
          unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url(/fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
    <link href="{% static 'Medicinal/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <form>
        <div class="inner-form">
            <div class="basic-search">
                <div class="input-field">
                    <input id="search" type="text" placeholder="Type Keywords">
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="advance-search">
                <span class="desc">ADVANCED SEARCH</span>
                <div class="row">
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true"
                                 aria-expanded="false" dir="ltr"
                                 aria-activedescendant="choices-choices-single-defaul-9f-item-choice-1">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul"
                                                                    class="choices__input is-hidden" tabindex="-1"
                                                                    style="display:none;" aria-hidden="true"
                                                                    data-choice="active">
                                    <option value="" selected="">Accessories</option>
                                </select>
                                    <div class="choices__list choices__list--single">
                                        <div class="choices__item choices__item--selectable choices__placeholder"
                                             data-item="" data-id="1" data-value="" data-deletable=""
                                             aria-selected="true">
                                            Accessories<!--
           -->
                                            <button type="button" class="choices__button" data-button=""
                                                    aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox">
                                        <div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted"
                                             data-select-text="" data-choice="" data-id="1" data-value=""
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-9f-item-choice-1" role="option"
                                             aria-selected="true">
                                            Accessories
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="2" data-value="Subject b"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-9f-item-choice-2" role="option">
                                            Subject b
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="3" data-value="Subject c"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-9f-item-choice-3" role="option">
                                            Subject c
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true"
                                 aria-expanded="false" dir="ltr"
                                 aria-activedescendant="choices-choices-single-defaul-uc-item-choice-1">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul"
                                                                    class="choices__input is-hidden" tabindex="-1"
                                                                    style="display:none;" aria-hidden="true"
                                                                    data-choice="active">
                                    <option value="" selected="">Color</option>
                                </select>
                                    <div class="choices__list choices__list--single">
                                        <div class="choices__item choices__item--selectable choices__placeholder"
                                             data-item="" data-id="1" data-value="" data-deletable=""
                                             aria-selected="true">
                                            Color<!--
           -->
                                            <button type="button" class="choices__button" data-button=""
                                                    aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox">
                                        <div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted"
                                             data-select-text="" data-choice="" data-id="1" data-value=""
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-uc-item-choice-1" role="option"
                                             aria-selected="true">
                                            Color
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="2" data-value="Subject b"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-uc-item-choice-2" role="option">
                                            Subject b
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="3" data-value="Subject c"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-uc-item-choice-3" role="option">
                                            Subject c
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true"
                                 aria-expanded="false" dir="ltr"
                                 aria-activedescendant="choices-choices-single-defaul-dj-item-choice-1">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul"
                                                                    class="choices__input is-hidden" tabindex="-1"
                                                                    style="display:none;" aria-hidden="true"
                                                                    data-choice="active">
                                    <option value="" selected="">Size</option>
                                </select>
                                    <div class="choices__list choices__list--single">
                                        <div class="choices__item choices__item--selectable choices__placeholder"
                                             data-item="" data-id="1" data-value="" data-deletable=""
                                             aria-selected="true">
                                            Size<!--
           -->
                                            <button type="button" class="choices__button" data-button=""
                                                    aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox">
                                        <div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted"
                                             data-select-text="" data-choice="" data-id="1" data-value=""
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-dj-item-choice-1" role="option"
                                             aria-selected="true">
                                            Size
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="2" data-value="Subject b"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-dj-item-choice-2" role="option">
                                            Subject b
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="3" data-value="Subject c"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-dj-item-choice-3" role="option">
                                            Subject c
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row second">
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true"
                                 aria-expanded="false" dir="ltr"
                                 aria-activedescendant="choices-choices-single-defaul-jn-item-choice-1">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul"
                                                                    class="choices__input is-hidden" tabindex="-1"
                                                                    style="display:none;" aria-hidden="true"
                                                                    data-choice="active">
                                    <option value="" selected="">Sale</option>
                                </select>
                                    <div class="choices__list choices__list--single">
                                        <div class="choices__item choices__item--selectable choices__placeholder"
                                             data-item="" data-id="1" data-value="" data-deletable=""
                                             aria-selected="true">
                                            Sale<!--
           -->
                                            <button type="button" class="choices__button" data-button=""
                                                    aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox">
                                        <div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted"
                                             data-select-text="" data-choice="" data-id="1" data-value=""
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-jn-item-choice-1" role="option"
                                             aria-selected="true">
                                            Sale
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="2" data-value="Subject b"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-jn-item-choice-2" role="option">
                                            Subject b
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="3" data-value="Subject c"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-jn-item-choice-3" role="option">
                                            Subject c
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true"
                                 aria-expanded="false" dir="ltr"
                                 aria-activedescendant="choices-choices-single-defaul-ft-item-choice-5">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul"
                                                                    class="choices__input is-hidden" tabindex="-1"
                                                                    style="display:none;" aria-hidden="true"
                                                                    data-choice="active">
                                    <option value="" selected="">Time</option>
                                </select>
                                    <div class="choices__list choices__list--single">
                                        <div class="choices__item choices__item--selectable choices__placeholder"
                                             data-item="" data-id="1" data-value="" data-deletable=""
                                             aria-selected="true">
                                            Time<!--
           -->
                                            <button type="button" class="choices__button" data-button=""
                                                    aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox">
                                        <div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted"
                                             data-select-text="" data-choice="" data-id="5" data-value=""
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-ft-item-choice-5" role="option"
                                             aria-selected="true">
                                            Time
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="1" data-value="Last time"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-ft-item-choice-1" role="option">
                                            Last time
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="2" data-value="This month"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-ft-item-choice-2" role="option">
                                            This month
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="3" data-value="This week"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-ft-item-choice-3" role="option">
                                            This week
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="4" data-value="This year"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-ft-item-choice-4" role="option">
                                            This year
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="6" data-value="Today"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-ft-item-choice-6" role="option">
                                            Today
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true"
                                 aria-expanded="false" dir="ltr"
                                 aria-activedescendant="choices-choices-single-defaul-b0-item-choice-3">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul"
                                                                    class="choices__input is-hidden" tabindex="-1"
                                                                    style="display:none;" aria-hidden="true"
                                                                    data-choice="active">
                                    <option value="" selected="">Type</option>
                                </select>
                                    <div class="choices__list choices__list--single">
                                        <div class="choices__item choices__item--selectable choices__placeholder"
                                             data-item="" data-id="1" data-value="" data-deletable=""
                                             aria-selected="true">
                                            Type<!--
           -->
                                            <button type="button" class="choices__button" data-button=""
                                                    aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox">
                                        <div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted"
                                             data-select-text="" data-choice="" data-id="3" data-value=""
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-b0-item-choice-3" role="option"
                                             aria-selected="true">
                                            Type
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="1" data-value="Subject b"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-b0-item-choice-1" role="option">
                                            Subject b
                                        </div>
                                        <div class="choices__item choices__item--choice choices__item--selectable"
                                             data-select-text="" data-choice="" data-id="2" data-value="Subject c"
                                             data-choice-selectable=""
                                             id="choices-choices-single-defaul-b0-item-choice-2" role="option">
                                            Subject c
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row third">
                    <div class="input-field">
                        <div class="result-count">
                            <span>108 </span>results
                        </div>
                        <div class="group-btn">
                            <button class="btn-delete" id="delete">RESET</button>
                            <button class="btn-search">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--        <div class="wow fadeInRight w-50" data-wow-delay="0.1s"></div>-->
</div>
<script src="{% static 'Medicinal/js/scriptsChoice.js' %}"></script>
<script>
      const customSelects = document.querySelectorAll("select");
      const deleteBtn = document.getElementById('delete')
      const choices = new Choices('select',
      {
        searchEnabled: false,
        itemSelectText: '',
        removeItemButton: true,
      });
      for (let i = 0; i < customSelects.length; i++)
      {
        customSelects[i].addEventListener('addItem', function(event)
        {
          if (event.detail.value)
          {
            let parent = this.parentNode.parentNode
            parent.classList.add('valid')
            parent.classList.remove('invalid')
          }
          else
          {
            let parent = this.parentNode.parentNode
            parent.classList.add('invalid')
            parent.classList.remove('valid')
          }
        }, false);
      }
      deleteBtn.addEventListener("click", function(e)
      {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
          deleteAll[i].click();
        }
      });
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>
{% endblock content %}