body {
    background: url(image/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.search-box{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #ffffff;
    padding-right: 40px;
    color: #ffffff;
    transition: 0.5s;
}

.input-search::placeholder{
    color: rgb(255, 255, 255,.5);
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 70;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #104600;
    background-color:transparent;
    pointer-events: painted;
}
.btn-search:focus{
    color: #ffffff;
}
.btn-search:focus ~ .input-search{
    width: 50vw;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgb(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 50vw;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    color: #ffffff;
}


.input-search:focus::placeholder{
    color: rgb(255, 255, 255);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}

@media (max-width: 992px){
    .input-search::placeholder{
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 70;
    }
    .btn-search:focus ~ .input-search{
        width: 60vw;

    }
    .input-search:focus{
        width: 60vw;

    }
}

@media (max-width: 768px){
    .input-search::placeholder{
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-weight: 65;
    }
    .btn-search:focus ~ .input-search{
        width: 65vw;

    }
    .input-search:focus{
        width: 65vw;

    }
}

@media (max-width: 576px){
    .input-search::placeholder{
        font-size: 0.65rem;
        letter-spacing: 1px;
        font-weight: 50;
    }
    .btn-search:focus ~ .input-search{
        width: 70vw;

    }
    .input-search:focus{
        width: 70vw;

    }
}

.myCard {
    height: 300px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: 0.5s;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.myCard:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 8px 0.003mm rgba(255, 255, 255, 0.7);
}

@media (max-width: 992px){
    .myCard {
        height: 350px;
    }
}



.myImg{
    width: auto;
    height: 50%;
    box-shadow: 0px 0px 5px 0.002mm #000000;
    border-radius: 3px;
}

.flower-name{
    font-size: 2rem;
    color: #fafdfb;
}
.flower-info{
    font-size: 1rem;
    color: #fafdfb;
}










