.left-frame-topic{
    border-left : solid;
    border-color:green;
}

.left-frame-topic-war{
    border-left : solid;
    border-color:red;
}

.right-frame-topic{
    border-right : solid;
    border-color:green;
}

.right-frame-topic-war{
    border-right : solid;
    border-color:red;
}
