{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/icon/iconTit3.jpg' %}">

    <!--    Language Selector -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/lang/languageSelector.js' %}"></script>
    <script src="{% static 'js/lang/locale.js' %}"></script>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
            rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet">

    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'font/fontAdder.css' %}" rel="stylesheet">

</head>

<div class="container-fluid bg-dark text-light px-0 py-2 shadow-sm" style="direction:ltr;">
    <div class="row gx-0 d-lg-flex">
        <div class="col-lg-7 px-5 text-start d-none d-md-flex">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <span class="fa fa-phone-alt me-2"></span>
                <span>۰۹۱۰۳۸۴۵۴۱۸</span>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <span class="far fa-envelope me-2"></span>
                <span>info@semicolon.com</span>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center mx-n2">
                <span>ما را دنبال کنید</span>
                <a class="btn btn-link text-light" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
                <a class="btn btn-primary" id="login-button">ورود</a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light sticky-top p-0 shadow-sm bg-white" style="direction:ltr;"
     style="box-shadow:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0" style="font-family:Georgia, 'Times New Roman', Times, serif, oblique;">شناسایی گیاهان</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'home_url' %}" class="nav-item nav-link" id="home-link">خانه</a>
            <a href="{% url 'updating_err_url' %}" class="nav-item nav-link" id="identify-link">شناسایی</a>
            <a href="{% url 'explore_url' %}" class="nav-item nav-link" id="explore-link">جست و جو</a>
            <!--            <div class="dropdown-c" id="services-links">-->
            <!--                <a class="dropbtn nav-item nav-link">Services-->
            <!--                    <i class="fa fa-caret-down" id="icon-services-link"></i>-->
            <!--                </a>-->
            <!--                <div class="wow fadeIn dropdown-content" data-wow-delay="0.03s">-->
            <!--                    <div class="wow fadeInLeft" data-wow-delay="0.1s">-->
            <!--                        <a href="">Online Supporting</a>-->
            <!--                    </div>-->
            <!--                    <div class="wow fadeInLeft" data-wow-delay="0.5s">-->
            <!--                        <a href="{% url 'medicinal_url' %}">Medicinal Properties</a>-->
            <!--                    </div>-->
            <!--                    <div class="wow fadeInLeft" data-wow-delay="0.9s">-->
            <!--                        <a href="">Help in Growth</a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <a href="{% url 'soon_err' %}" class="nav-item nav-link" id="blog-link">مقالات</a>
            <a href="{% url 'help_url' %}" class="nav-item nav-link" id="help-link">راهنما</a>
            <div class="nav-item nav-link">
                <select id="langSelector">
                    <option>زبان</option>
                    <option value="en">English</option>
                    <option value="fa">فارسی</option>
                </select>
            </div>
        </div>
    </div>
</nav>


{% block content %}

{% endblock content %}


<div class="container-fluid align-items-center bg-dark text-light footer
          mt-5 py-3 wow fadeIn" style="direction:ltr;" id="footer-main" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6" style="direction:ltr;">
                <h4 class="text-white mb-4">دفتر کاری ما</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i><span>ایران , یزد , دانشگاه یزد</span></p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><span>۰۹۱۰۳۸۴۵۴۱۸</span></p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i><span>info@semicolon.com</span></p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle
                    me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle
                    me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle
                    me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle
                    me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" style="direction:ltr;">
                <h4 class="text-white mb-4">خدمات</h4>
                <a class="btn btn-link" href="{% url 'updating_err_url' %}"
                   id="except-change-language">شناسایی</a>
                <a class="btn btn-link" href="{% url 'explore_url' %}" id="except-change-language">درمورد گیاهان جست و جو کنید</a>
                <a class="btn btn-link" href="" id="except-change-language">پشتیبانی در رشد</a>
            </div>
            <div class="col-lg-3 col-md-6" style="direction:ltr;">
                <h4 class="text-white mb-4">لینک های سریع</h4>
                <a class="btn btn-link" href="{% url 'home_url' %}" id="except-change-language">خانه</a>
                <a class="btn btn-link" href="{% url 'updating_err_url' %}" id="except-change-language"><span>شناسایی</span></a>
                <a class="btn btn-link" href="{% url 'explore_url' %}"
                   id="except-change-language"><span>جست و جو</span></a>
                <a class="btn btn-link" href="{% url 'about_us_url' %}"
                   id="except-change-language"><span>درباره ما</span></a>
                <a class="btn btn-link" href="{% url 'home_url' %}"
                   id="except-change-language"><span>مقالات</span></a>
                <a class="btn btn-link" href="{% url 'help_url' %}"
                   id="except-change-language"><span>کمک</span></a>
                <a class="btn btn-link" href="{% url 'faq_url' %}"
                   id="except-change-language"><span>سوالات متداول</span></a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4 btn-sm align-items-center"
                    style="position: relative; right: 2mm;">Supported by
                    <u><a href="https://yazd.ac.ir">Yazd University</a></u>
                </h4>
                <div>
                    <img class="img-fluid" style="border-radius: 3.5mm;"
                         src="{% static 'img/footYazdUni.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright py-4" style="direction:ltr;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">persianplantify.ir</a>,
                All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                Designed By <a class="border-bottom"
                               href="https://soheilmaster.ir">semicolon group</a>
            </div>
        </div>
    </div>
</div>

<!--<script src="{% static 'js/lang/functionChangeLang.js' %}"></script>-->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square
            rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/parallax/parallax.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const login_button = document.getElementById('login-button')
    async function requireAuth() {
    if(!localStorage.getItem('lr') || !localStorage.getItem('username')){
        login_button.innerHTML = 'ورود'
        login_button.setAttribute('href', ${window.location.origin}/users/#/login)
        return
    }
    try {
        if (Date.parse(localStorage.getItem('lr')) < ((new Date()) - 60 * 60000)) {
            const data = await axios.post(window.location.origin+'/refresh/token/')
            if(data?.status === 200) {
                if(localStorage.getItem('lang') == 'fa') login_button.innerHTML = 'داشبورد'
                else login_button.innerHTML = 'Dashboard'

                login_button.setAttribute('href', ${window.location.origin}/users/#/dashboard)
                localStorage.setItem('lr', new Date())
            }
        }
        else {
                login_button.innerHTML = 'داشبورد'
            login_button.setAttribute('href', ${window.location.origin}/users/#/dashboard)
        }
    } catch (error) {
        login_button.setAttribute('href', ${window.location.origin}/users/#/login)
    }
}
requireAuth()
</script>