<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Plant Check</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <link rel="icon" href="img/icon/iconTit3.jpg">
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
            rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css"
            rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle
            w-100 vh-100 top-50 start-50 d-flex align-items-center
            justify-content-center">
            <div class="spinner-border text-primary" role="status" style="width:
                3rem; height: 3rem;"></div>
        </div>
        <!-- Spinner End -->

        <plant-header></plant-header>
        <other-header></other-header>


        <!-- Carousel Start -->
        <div class="container-fluid p-0 wow fadeIn"
            data-wow-delay="0.1s">
            <div id="header-carousel" class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="img/HomeBack.webp"
                            alt="Image">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="display-1 text-white
                                            mb-5 animated slideInDown"
                                            style="font-family:'Lucida
                                            Sans', 'Lucida Sans
                                            Regular'">Identify plants
                                            easily and quickly</h1>
                                        <a href="" class="btn
                                            btn-primary py-sm-3
                                            px-sm-4">Explore More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End; -->


        <!-- Top Feature Start -->
        <div class="container-fluid top-feature py-5 pt-lg-0">
            <div class="container py-5 pt-lg-0">
                <div class="row gx-0">
                    <div class="col-lg-4 wow fadeIn"
                        data-wow-delay="0.1s">
                        <div class="bg-white shadow d-flex
                            align-items-center h-100 px-5"
                            style="min-height: 160px;">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square
                                    rounded-circle bg-light">
                                    <i class="fa fa-check text-primary"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Easily</h4>
                                    <span>You can quickly identify the
                                        plant you want</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn"
                        data-wow-delay="0.3s">
                        <div class="bg-white shadow d-flex
                            align-items-center h-100 px-5"
                            style="min-height: 160px;">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square
                                    rounded-circle bg-light">
                                    <i class="fa fa-eye text-primary"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Comprehensiveness</h4>
                                    <span>Identifying all kinds of
                                        flowers and plants </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn"
                        data-wow-delay="0.5s">
                        <div class="bg-white shadow d-flex
                            align-items-center h-100 px-5"
                            style="min-height: 160px;">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square
                                    rounded-circle bg-light">
                                    <i class="fa fa-users text-primary"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Help in growing</h4>
                                    <span>Online support and guidance in
                                        growing and maintaining</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Feature End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-3 col-md-5 wow fadeInUp"
                        data-wow-delay="0.1s">
                        <img class="img-fluid rounded"
                            data-wow-delay="0.1s"
                            src="img/focusPhone.jpg">
                    </div>
                    <div class="col-lg-6 col-md-7 wow fadeInUp"
                        data-wow-delay="0.3s">
                        <!-- <h1 class="display-1 text-primary mb-0">25</h1> -->
                        <!-- <p class="text-primary mb-4">Year of Experience</p> -->
                        <h1 class="display-5 mb-4">We Identify Your
                            Plant In A Flash</h1>
                        <p class="mb-4">Just send us the photo of the
                            plant you don't know and get all its
                            information as quickly as possible</p>
                        <!-- <a class="btn btn-primary py-3 px-4" href="">Explore More</a> -->
                    </div>
                    <div class="col-lg-3 col-md-12 wow fadeInUp"
                        data-wow-delay="0.5s">
                        <div class="row g-5 position-relative top-0">
                            <div class="col-12 col-sm-6 col-lg-12">
                                <div class="border-start ps-5
                                    position-relative top-0">
                                    <i class="fa fa-map-marker-alt fa-3x
                                        text-primary mb-3"></i>
                                    <h4 class="mb-3">For All Users</h4>
                                    <span>Can be used by everyone around
                                        the world</span>
                                </div>
                            </div>
                            <!--                         <div class="col-12 col-sm-6 col-lg-12">
                            <div class="border-start ps-4">
                                <i class="fa fa-users fa-3x text-primary mb-3"></i>
                                <h4 class="mb-3">Dedicated Team</h4>
                                <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna</span>
                            </div>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Features Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp"
                        data-wow-delay="0.1s">
                        <p class="fs-5 fw-bold text-primary">Why
                            Choosing Us!</p>
                        <h1 class="display-5 mb-4">Few Reasons Why
                            People Choosing Us!</h1>
                        <p class="mb-4">
                            <ul>
                                <li>Updating the website and
                                    applicationsa</li>
                                <li>Using the most modern applied
                                    algorithms in industry and
                                    artificial intelligence</li>
                                <li>Using the most secure encryption
                                    algorithms</li>
                                <li>Young yet experienced developers</li>
                            </ul>
                        </p>
                        <a class="btn btn-primary py-3 px-4" href="">Explore
                            More</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-4 align-items-center">
                            <div class="col-md-6">
                                <div class="row g-4">
                                    <div class="col-12 wow fadeIn"
                                        data-wow-delay="0.3s">
                                        <div class="text-center rounded
                                            py-5 px-4"
                                            style="box-shadow: 0 0 45px
                                            rgba(0,0,0,.08);">
                                            <div class="btn-square
                                                bg-light rounded-circle
                                                mx-auto mb-4"
                                                style="width: 90px;
                                                height: 90px;">
                                                <i class="fa fa-check
                                                    fa-3x text-primary"></i>
                                            </div>
                                            <h4 class="mb-0">100%
                                                Satisfaction</h4>
                                        </div>
                                    </div>
                                    <div class="col-12 wow fadeIn"
                                        data-wow-delay="0.5s">
                                        <div class="text-center rounded
                                            py-5 px-4"
                                            style="box-shadow: 0 0 45px
                                            rgba(0,0,0,.08);">
                                            <div class="btn-square
                                                bg-light rounded-circle
                                                mx-auto mb-4"
                                                style="width: 90px;
                                                height: 90px;">
                                                <i class="fa fa-users
                                                    fa-3x text-primary"></i>
                                            </div>
                                            <h4 class="mb-0">Dedicated
                                                Team</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 wow fadeIn"
                                data-wow-delay="0.7s">
                                <div class="text-center rounded py-5
                                    px-4" style="box-shadow: 0 0 45px
                                    rgba(0,0,0,.08);">
                                    <div class="btn-square bg-light
                                        rounded-circle mx-auto mb-4"
                                        style="width: 90px; height:
                                        90px;">
                                        <i class="fa fa-tools fa-3x
                                            text-primary"></i>
                                    </div>
                                    <h4 class="mb-0">Modern Algorithm</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->


        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp"
                    data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="fs-5 fw-bold text-primary">Our Services</p>
                    <h1 class="display-5 mb-5">Services That We Offer
                        For You</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp"
                        data-wow-delay="0.1s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid"
                                    src="img/serviceIden.webp" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle
                                    mx-auto mb-3">
                                    <img class="img-fluid
                                        rounded-circle"
                                        src="img/icon/iconIden.jpg"
                                        alt="Icon">
                                </div>
                                <h4 class="mb-3">Identification</h4>
                                <p class="mb-4">Online detection of
                                    flowers and plants using <i><b>artificial
                                            intelligence</b></i></p>
                                <a class="btn btn-sm" href=""><i
                                        class="fa fa-plus text-primary
                                        me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid"
                                    src="img/serviceExp.jpg" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle
                                    mx-auto mb-3">
                                    <img class="img-fluid rounded-circle
                                        bootstrap-icons"
                                        src="img/icon/iconSearch.jpg"
                                        alt="Icon">
                                </div>
                                <h4 class="mb-3">Explore about plants</h4>
                                <p class="mb-4">Search for different
                                    plants and flowers and provide
                                    information about them</p>
                                <a class="btn btn-sm" href=""><i
                                        class="fa fa-plus text-primary
                                        me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp"
                        data-wow-delay="0.5s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid"
                                    src="img/serviceSup.jpg" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle
                                    mx-auto mb-3">
                                    <img class="img-fluid"
                                        src="img/icon/icon-1.png"
                                        alt="Icon">
                                </div>
                                <h4 class="mb-3">Support in growth</h4>
                                <p class="mb-4">Online support by expert
                                    consultants in all stages of plant
                                    growth and interaction with them</p>
                                <a class="btn btn-sm" href=""><i
                                        class="fa fa-plus text-primary
                                        me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Quote Start -->
        <div class="container-fluid quote my-5 py-5" style="font-family:
            cursive;" data-parallax="scroll"
            data-image-src="img/carousel-2.jpg">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="bg-white rounded p-4 p-sm-5 wow
                            fadeIn" data-wow-delay="0.5s">
                            <h1 class="display-5 text-center mb-5">Suggestion
                                about a service</h1>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text"
                                            class="form-control bg-light
                                            border-0" id="gname"
                                            placeholder="Gurdian Name">
                                        <label for="gname">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="email"
                                            class="form-control bg-light
                                            border-0" id="gmail"
                                            placeholder="Gurdian Email">
                                        <label for="gmail">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text"
                                            class="form-control bg-light
                                            border-0" id="cname"
                                            placeholder="Child Name">
                                        <label for="cname">Your Mobile</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text"
                                            class="form-control bg-light
                                            border-0" id="cage"
                                            placeholder="Child Age">
                                        <label for="cage">Service Type</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control
                                            bg-light border-0"
                                            placeholder="Leave a message
                                            here" id="message"
                                            style="height: 100px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary py-3
                                        px-4" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quote End -->

        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp"
                    data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="fs-5 fw-bold text-primary">Semicolon</p>
                    <h1 class="display-5 mb-5">Dedicated & Experienced
                        Team Members</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp"
                        data-wow-delay="0.1s">
                        <div class="team-item rounded">
                            <img class="img-fluid"
                                src="img/soheilPro3.png" alt="">
                            <div class="team-text">
                                <h4 class="mb-0">Soheil Amini</h4>
                                <p class="text-primary">Full stack
                                    Designer</p>
                                <div class="team-social d-flex">
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="team-item rounded">
                            <img class="img-fluid" src="img/sinaPro.jpg"
                                alt="">
                            <div class="team-text">
                                <h4 class="mb-0">Sina Rahimi</h4>
                                <p class="text-primary">Backend
                                    Developer</p>
                                <div class="team-social d-flex">
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp"
                        data-wow-delay="0.5s">
                        <div class="team-item rounded">
                            <img class="img-fluid"
                                src="AboutPage/img/TayebPro.jpg"
                                alt="">
                            <div class="team-text">
                                <h4 class="mb-0">Mohammad Mahdi Tayebnia</h4>
                                <p class="text-primary">Backend
                                    Developer</p>
                                <div class="team-social d-flex">
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="team-item rounded">
                            <img class="img-fluid" src="AboutPage/img/AbolfazlPro2.jpg"
                                alt="">
                            <div class="team-text">
                                <h4 class="mb-0">Abolfazl Motazeri</h4>
                                <p class="text-primary">Full Stack
                                    Developer</p>
                                <div class="team-social d-flex">
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square
                                        rounded-circle me-2" href=""><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

        <plant-footer></plant-footer>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square
            rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/parallax/parallax.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
        <script src="js/headerHome.js"></script>
    </body>

</html>
