{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oops!</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
<body>
    <iframe class="w-100 h-75 mx-auto my-auto" src="https://lottie.host/?file=83aecc30-7fc1-4ca9-903b-8a83acfb2259/Qh2LfWbIiR.json"></iframe>
</body>
</html>
{% endblock content %}
